<div class="container">
  <div class="col">
    <h3>{{titulo}}</h3>
  </div>
  <hr>

  <!-- cuando el metodo personaCreada se crea un metodo  -->
<app-formulario 

(personaCreada)="personaAgregada($event)"

></app-formulario>
<!-- informamos que agregamos el nuevo objeto de tipo persona  -->


  <!-- -------------------------------- -->
  <!-- <form class="row w-30">
    <div class="col-lg-3">
      <input type="text" name="nombre" id="nombre"
      placeholder="Ingrese tu nombre" class="form-control" [(ngModel)] ="nombreInput">
    </div>
    
    <div class="col-lg-3">
      <input type="text" name="apellido" id="apellido"
      placeholder="Ingrese tu apellido" class="form-control" [(ngModel)] ="apellidoInput">
    </div>

    <div class="col-lg-5 m-auto"> 
      <button type="submit" class="btn btn-primary" (click)="agregarPersona()">Ingresar</button>
    </div>
      </form> -->

      <!-- Se pasa todo este form al componente especia para formulario -->
      <!-- --------------@ouput------------------ -->
    </div>
    <!-- iteramos un componente hijo -->
    <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona] = "personaElemento"
    [indice] = "i"
 >
  <!-- Enviando información al componente hijo -->

    </app-persona>
    <!-- Componente hijo -->



